.body_home {
  background: linear-gradient(to top, #ff9200, #ff5a00, #c4004d);
  object-fit: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.fondo {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
  position: absolute;
  top: -118px;
}

.titulo_h1 {
  color: white;
  text-align: center;
  padding-top: 40px;
  font-size: 1rem;
  letter-spacing: 1px;
}

.logo_woker {
  display: block;
  margin: auto;
  width: 250px;
  margin-top: 60px;
}

.a_conocenos_div {
  margin-top: 30px;
  text-align: center;
  position: relative;
}

.a_conocenos {
  text-decoration: none;
  color: white;
  padding: 8px 20px;
  border: 1px solid white;
  border-radius: 50px;
  letter-spacing: 1px;
}

.a_conocenos:hover {
  background-color: white;
  color: #ff5a00;
}

.titulo_h2 {
  color: white;
  text-align: center;
  margin-top: 200px;
  font-size: 1.4rem;
}

.btn_flecha {
  width: 60px;
  position: absolute;
  bottom: 50px;
  left: 43%;
  right: 43%;
}

.acceso_usuario {
  background: rgba(255, 255, 255, 0.111);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: absolute;
  bottom: 0;
  height: 415px;
  width: 90%;
  left: 5%;
  right: 5%;
}

.h2 {
  margin: 25px;
  font-size: 0.9rem;
  text-align: center;
  color: white;
  letter-spacing: 0.8px;
}

.action_acceso_usuario {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_usuario {
  width: 30%;
  border: 1px solid transparent;
  margin-right: 20px;
  padding: 10px;
  position: relative;
}

.btn_usuario:active{
  border: 1px solid white;
  border-radius:25px;
  width: 30%;
}

p {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin-top: 5px;
}

.btn_abogado {
  width: 30%;
  border: 1px solid transparent;
  margin-left: 20px;
  padding: 10px;
}

.btn_abogado:active {
  border: 1px solid white;
  border-radius:25px;
  width: 30%;
}

.usuario {
  margin: auto;
  width: 60px;
}

.pUser {
  font-size: 0.8rem;
  letter-spacing: 0.8px;
}

.abogado {
  margin: auto;
  width: 60px;
}

p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  text-align: center;
  margin-top: 5px;
}

.flex_form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.flex_form2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.flex_acceso_rapido {
  width: 35%;
  margin-right: 10px;
}

.flex_acceso_rapido2 {
  width: 50%;
  margin-right: 10px;
}

p {
  color: white;
  text-align: center;
  font-size: 0.9rem;
}

.acceso_rapido {
  display: flex;
  justify-content: center;
  align-items: center;
}

.acceso_rapido2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.acceso_rapido .is-active .btn_fb,
.acceso_rapido .is-active .btn_fb2,
.acceso_rapido .is-active .btn_gmail,
.acceso_rapido .is-active .btn_gmail2{
  margin-top: 6px;
}

.acceso_fb {
  height: 80px;
  width: 50px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-right: 15x;
}

.acceso_fb2 {
  height: 100px;
  width: 80px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-right: 10px;
  margin-right: 20px;
}


.box_fb {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.circle {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
  margin: 2px;
}

.btn_fb {
  width: 80%;
  height: 25px;
  border-radius: 5px;
  background: white;
  margin: auto;
  margin-top: 33px;
  
}

.btn_fb2 {
  width: 80%;
  height: 35px;
  border-radius: 5px;
  background: white;
  margin: auto;
  margin-top: 40px;
}


.iconFb {
  width: 8px;
  margin-left: 14px;
  margin-top: 5px;
}

.iconGmail {
  width: 25px;
  margin-left: 6px;
  margin-top: 4px;
}

.fb {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-right: 12px;
}

.fb2 {
  font-size: 0.8rem;
  margin-top: 10px;
  margin-right: 18px;
  letter-spacing: 0.5px;
}

.acceso_gmail {
  height: 80px;
  width: 50px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.acceso_gmail2 {
  height: 100px;
  width: 80px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-right: 20px;
}

.acceso_gmail3 {
  height: 100px;
  width: 80px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}


.box_gmail {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.circle {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
  margin: 2px;
}

.btn_gmail {
  width: 80%;
  height: 25px;
  border-radius: 5px;
  background: white;
  margin: auto;
  margin-top: 33px;
}

.btn_gmail2 {
  width: 80%;
  height: 35px;
  border-radius: 5px;
  background: white;
  margin: auto;
  margin-top: 40px;
}

.gmail {
  font-size: 0.8rem;
  margin-top: 5px;
}


.gmail2 {
  font-size: 0.8rem;
  margin-top: 10px;
  margin-right: 20px;
  letter-spacing: 0.5px;
}

.gmail3 {
  font-size: 0.8rem;
  margin-top: 10px;
  letter-spacing: 0.5px;
}

.flex_iniciar_sesion {
  width: 35%;
  margin-left: 20px;
}

.p {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}

.p2 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 8px;
  letter-spacing:0.5px;
}

.div_name {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  height: 40px;
  margin-top: 10px;
}

.input_name {
  width: 100%;
  background: none;
  border: none;
  color: white;
  letter-spacing: 0.5px;
}

.input_name::placeholder {
  color: white;
}

.div_password {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  height: 40px;
  margin-top: 10px;
}

.input_password {
  width: 100%;
  background: none;
  border: none;
  color: white;
  letter-spacing: 0.5px;
}

.input_password::placeholder {
  color: white;
}

.flecha {
  text-decoration: none;
  color: orangered;
  padding: 1px 5px;
  background-color: white;
  border-radius: 50px;
  font-size: 16px;
  border: none;
}

.lost_password {
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  bottom: 25px;
  left: 27%;
  right: 27%;
}

.cerrar-div {
  position: absolute;
  top: -8px;
  right: 30px;
}

.cerrar {
  font-size: 0.9rem;
  color: #ff5a00;
  padding: 5px 9px;
  background: white;
  border-radius: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

.iconop1{
  width:43px;
  margin-left: 8px;
  margin-top:4px;
}

.iconop2{
  width:24px;
  margin-left: 20px;
  margin-top: 5px;
}

.iconop3{
  width:45px;
  margin-left: 8px;
  margin-top: 6px;
}