.body_home {
  background: linear-gradient(to top, #ff9200, #ff5a00, #c4004d);
  object-fit: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.fondo{
  object-fit: cover;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
  position: absolute;
  top: -118px;
}



.titulo_h1 {
  color: white;
  text-align: center;
  padding-top: 30px;
  font-size: 1.1rem;
}

.logo_woker {
  display: block;
  margin: auto;
  width: 250px;
  margin-top: 70px;
}

.a_conocenos_div {
  margin-top: 30px;
  text-align: center;
  position:relative;
}

.a_conocenos {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 50px;
  
}

.a_conocenos:hover{
  background-color: white;
  color: #ff5a00;
}

.titulo_h2 {
  color: white;
  text-align: center;
  margin-top: 200px;
  font-size: 1.4rem;
}

.btn_flecha {
  width: 60px;
  position: absolute;
  bottom:50px;
  left: 42%;
  right: 42%;
}

.acceso_usuario {
  background: rgba(255, 255, 255, 0.213);
  border: 1px solid white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: absolute;
  bottom: 0;
  height: 415px;
  width: 90%;
  left: 5%;
  right: 5%;  
}

.h2 {
  margin: 20px;
  font-size: 1rem;
  text-align: center;
  color: white;
}

.action_acceso_usuario {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_usuario {
  width: 35%;
  border: 0px solid white;
  margin-right: 15px;
  padding: 10px;
}

.usuario {
  margin: auto;
  width: 50px;
}

p {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin-top: 5px;
}

.btn_abogado {
  width: 35%;
  border: 0px solid white;
  margin-left: 15px;
  padding: 10px;
}

.usuario {
  margin: auto;
  width: 70px;
  opacity: 0.5;
}

p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  text-align: center;
  margin-top: 5px;
}

.linea {
  width: 2px;
  height: 70px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.flex_form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.flex_acceso_rapido {
  width: 35%;
  margin-right: 10px;
}

p {
  color: white;
  text-align: center;
  font-size: 0.9rem;
}

.acceso_rapido {
  display: flex;
  justify-content: center;
  align-items: center;
}

.acceso_rapido .is-active .btn_fb,
.acceso_rapido .is-active .btn_gmail {
  margin-top: 6px;
}

.acceso_fb {
  height: 80px;
  width: 50px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.box_fb {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.circle {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
  margin: 2px;
}

.btn_fb {
  width: 80%;
  height: 25px;
  border-radius: 5px;
  background: white;
  margin: auto;
  margin-top: 33px;
}

.fb {
  font-size: 0.8rem;
  margin-top: 5px;
}

.acceso_gmail {
  height: 80px;
  width: 50px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-left: 7px;
}

.box_gmail {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.circle {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
  margin: 2px;
}

.btn_gmail {
  width: 80%;
  height: 25px;
  border-radius: 5px;
  background: white;
  margin: auto;
  margin-top: 33px;
}

.gmail {
  font-size: 0.8rem;
  margin-top: 5px;
}

.flex_iniciar_sesion {
  width: 35%;
  margin-left: 20px;
}

p {
  color: white;
  text-align: center;
  font-size: 0.9rem;
}

.div_name {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  height: 40px;
  margin-top: 10px;
}

.input_name {
  width: 100%;
  background: none;
  border: none;
}

.input_name::placeholder {
  color: white;
}

.div_password {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  height: 40px;
  margin-top: 10px;
}

.input_password {
  width: 100%;
  background: none;
  border: none;
}

.input_password::placeholder {
  color: white;
}

.flecha {
  text-decoration: none;
  color: orangered;
  padding: 1px 5px;
  background-color: white;
  border-radius: 50px;
  font-size: 13px;
}

.lost_password {
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  bottom: 25px;
  left: 22%;
  right: 22%;
}

.cerrar-div{
    position: absolute;
    top: -8px;
    right:30px;
}

.cerrar{
    font-size:1.1rem;
    color: #ff5a00;
    padding: 5px 10px;
    background: white;
    border-radius: 50px;
}

.cursor-pointer {
  cursor: pointer;
}
