.candado2 {
  width: 115px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.div_password2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(134, 134, 134, 0.226);
  height: 40px;
  width: 75%;
  margin: auto;
  padding: 10px;
  border-radius: 50px;
}

.input_password2 {
  width: 100%;
  background: none;
  border: none;
  letter-spacing: 0.5px;
}

.input_password2::placeholder {
  color: white;
  padding-left: 10px;
  font-size: 0.9rem;
}

.input_password2:focus {
  color: white;
  padding-left: 5px;
}

.input_password2:active {
  color: white;
  padding-left: 5px;
}

.flecha2 {
  text-decoration: none;
  color: rgb(172, 172, 172);
  padding: 1px 5px;
  background-color: white;
  border-radius: 50px;
  font-size: 16px;
  border: none;
  margin-right: 8px;
}

.lost-cod {
  color: white;
  position: relative;
  top: 25px;
  font-size:0.9rem;
  border-bottom: 1px solid white;
}

.flex-alert2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 40px;
}

.alert2{
    width:25px;
}